<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une transaction</title>
</head>
<body>
<h1>Ajouter une transaction</h1>

<form th:action="@{/transactions}" th:object="${transactionForm}" method="post">
    <p>Débiteur:
        <select th:field="*{debtorIBAN}" th:required="required">
            <option th:each="account : ${accountList}"
                    th:value="${account.iban}" th:text="${account.iban}">
            </option>
        </select>
    </p>
    <p>Créditeur:
        <select th:field="*{creditorIBAN}" th:required="required">
            <option th:each="account : ${accountList}"
                    th:value="${account.iban}" th:text="${account.iban}">
            </option>
        </select>
    </p>
    <p>Montant: <input type="text" th:field="*{value}" th:required="required" /></p>
    <p>Date: <input type="date" th:field="*{date}" th:required="required" /></p>

    <p><input type="submit" value="Créer" /> </p>
</form>

</body>
</html>
